::selection {
	color: #FFFFFF;
	background: #333333;
}

*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	list-style: none;
	font-family: 'lato', sans-serif;
	font-size: 16px;
}

*:focus {
	outline: none;
	border: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

a {
	color: inherit;
	text-decoration: none;
}

header {
	background-attachment: fixed;
	background-image: url("../img/bg1.png");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100vh;
	max-width: 100%;
}

h1 {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-size: 2.2em;
}

h2 {
	font-family: "Lato", sans-serif;
	font-weight: 900;
	font-size: 2em;
}

h3 {
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 30px;
}

h4 {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #dc0000;
	text-transform: uppercase;
}

.nav {
	display: flex;
	align-items: center;
	height: 60px;
	width: 100%;
	z-index: 1;
	background: black;
	opacity: 0.4;
}

.nav ul {
	position: absolute;
	right: 40px;
}

.nav li {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-right: 70px;
	letter-spacing: 2px;
}

.nav a {
	text-decoration: none;
	font-size: 1.4em;
	color: white;
}

.nav a:hover {
	border-bottom: 2px solid red;
	padding-bottom: 14px;
}

.page-header {
	height: 100vh;
	max-width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
}

.page-header .head-description {
	font-size: 18px;
	margin-bottom: 30px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.page-header .head-description:first-child {
	letter-spacing: 4px;
}

.page-header .header-title {
	margin-bottom: 30px;
}

.page-header p {
	text-transform: uppercase;
}



.container-2 {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 30vh;
	background: #1b1717;
	color: white;
}

.container-2 p:nth-child(2) {
	font-size: 2em;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px red solid;
}

.container-2 p:first-child {
	margin-top: 80px;
	font-size: 1em;
	letter-spacing: 6px;
}

.container-2 h1 {
	font-size: 1em;
	font-weight: 200;
	letter-spacing: 1px;
}

.half-of-container
{
    display:flex;
    height:50%;
    width:100%;
  
    
}

.container-3 {
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 70vh;
}

.base1,
.base2,
.base3,
.base4,
.base5,
.base6 {
	display: flex;
	flex-basis: 33%;
	overflow: hidden;
	transition: transform 0.5s;
	cursor: pointer;
}

.foto1 {
	display: flex;
	background-image: url('../img/1.jpg');
	background-size: cover;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.5s;
}

.foto2 {
	display: flex;
	background-image: url('../img/2.jpeg');
	background-size: cover;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.5s
}

.foto3 {
	display: flex;
	background-image: url('../img/3.jpeg');
	background-size: cover;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.5s
}

.foto4 {
	display: flex;
	background-image: url('../img/4.jpeg');
	background-size: cover;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.5s
}

.foto5 {
	display: flex;
	background-image: url('../img/5.jpg');
	background-size: cover;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.5s
}

.foto6 {
	display: flex;
	background-image: url('../img/6.jpg');
	background-size: cover;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	transition: transform 0.5s
}



.page-footer {
	min-height: 400px;
	background: #302b2b;
}

.base1:hover .foto1, .base2:hover .foto2, .base3:hover .foto3, .base4:hover .foto4, .base5:hover .foto5, .base6:hover .foto6{
	
	transform: scale(1.5);
	transition: transform 0.5s ease;
}
